
*.class

IOC/.idea/.name

IOC/.idea/compiler.xml

IOC/.idea/copyright/profiles_settings.xml

IOC/.idea/libraries/Maven__org_jdom_jdom_1_1.xml

IOC/.idea/misc.xml

IOC/.idea/modules.xml

IOC/.idea/uiDesigner.xml

IOC/.idea/vcs.xml

IOC/.idea/workspace.xml

IOC/IOC.iml

IOC/target/classes/beans.xml
